<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageMain.master.cs" Inherits="Lec_FinalActivity1.MasterPageMain" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="assets\cash\cash\images\style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <div id="page" align="center">
                <div id="toppage" align="center">
                    <div id="date">
                        <div class="smalltext" style="padding: 13px;">
                            <strong>April 21, 2007</strong>
                        </div>
                    </div>
                    <div id="topbar">
                        <div align="right" style="padding: 12px;" class="smallwhitetext">
                            <a href="#">Home</a> | <a href="#">Sitemap</a> | <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div id="header" align="center">
                    <div class="titletext" id="logo">
                        <div class="logotext" style="margin: 30px">
                            Lo<span class="orangelogotext">A</span>n
                        </div>
                    </div>
                    <div id="pagetitle">
                        <div id="title" class="titletext" align="right">
                            Loan System Application
                        </div>
                    </div>
                </div>
                <div id="content" align="center">
                    <div id="menu" align="right">

                        <div id="linksmenu" align="center">
                            <a href="Default.aspx" title="Home">Home</a> 
                            <a href="Regisration.aspx" title="Regisration">Regisration</a> 
                            <a href="LoginPage.aspx" title="Login Page">Login Page</a> 
                            <a href="SalaryLoanCalculator.aspx" title="Loan Calculator">Loan Calculator</a> 
                            <a href="AccountSettings.aspx" title="Settings">Account Settings</a>
                            <!--
                            <a href="#" title="Contact Us">Contact Us</a>
                                --->
                        </div>
                    </div>
                    <div id="contenttext">
                        <div class="bodytext" style="padding: 12px;" align="justify">
                            <strong>Hi! This is my Loan System Application! </strong>
                            <br />
                            <br />
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div id="footer" class="smallgraytext" align="center">
                    <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a><br />
                    ITCS227 &copy; 2024<br />
                    <!-- <a href="http://www.winkhosting.com" title="Hosting Colombia">Hosting Colombia</a><br /> -->
                </div>
            </div>

        </div>
    </form>
</body>
</html>
